.navbar
 {
  position: relative;
  width: auto;
  height: 65px;
  padding: 20px;
  border-radius: 20px;
  background-color: #1E1F25  ;
     }
.rightelements{
  display: flex;
flex-direction: row;
justify-content: flex-end ;
align-items: center;
padding: 0px;
position: absolute;
left: 32.56%;
right: 1.8%;
top: 25%;
bottom: 25%;
padding-right: 20px ;
}


.bar {
  margin-left: 10px;
  font-size: 1.5rem;
  color: #282C38 ;
  border-radius: 15px;

}

.badge {
  position: absolute;
  top: 11px;
  border-radius: 50%;
  max-width: 18px;
  max-height: 17px;
  text-align: center;
  background-color: red;
  color: white;
  min-width: 15px;
  padding: 0.2rem 0.2rem;

}
.notification {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  transition: all .3s cubic-bezier(.215,.61,.355,1) 0s,opacity .3s ease 0s,height 0s linear .35s;
  opacity: 1;
}

.navbar-brand {
font-family: 'Inter';
font-style: normal;
font-weight: 470;
font-size: 22px;
line-height: 30px;
}

.mat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration-color: #ffff;
  border-color: #757B8C;
  justify-content: center;
  width: 181px;
  height: 40px;
  background-color : #3C4254 ;
  border-color: #757B8C;
  border-radius: 10px;


}

.sear {
  position: relative;
  width:210px ;
  height: 40px;
  border: none;
  background-color : #3C4254 ;
  padding: 0 0 0 0;
  border-radius: 10px;
  color: #fff;
}
input.sear:focus {
  outline-width: 0;
}

