<div class="row" style=" height: max-content ; color: #ADA8B8;">
  <div class="col-md-12"
    style="height: max-content; position: relative; justify-content: center; background: linear-gradient(180deg, rgba(39, 39, 39, 0) 47.24%, #21252C 100%); ">
    <div class="btn" style="align-items: center; vertical-align: middle; margin-top: 1%; width: 100%; height: 300px; padding-top: 5%;">
      <mat-icon style="font-size: 70px; margin-left: -7%;">add_a_photo</mat-icon>
      <h2>Add your cover picture</h2>
      <h4>Optimal dimension 4200x765</h4>
    </div>
  </div>
  <div class="col-md-12">
      <div class="card card-user">
        <div class="card-header">
        </div>
          <div class="card-body">
            <div class="row">
              <form>
                <h2 id="title" style="margin-top: 13px; margin-bottom: 13px;">Principal informations</h2>
              </form>
              <div class="form-group">
                <label >TITLE</label>
                <input type="text" class="form-control" placeholder="VIP room Toronto">
              </div>
                <div class="form-group">
                  <label>description</label>
                  <textarea class="form-control textarea" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "></textarea>
                </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Type</label>
                  <input type="text" class="form-control" placeholder="start from" >
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Price</label>
                  <input type="text" class="form-control" placeholder="192$">
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>price per</label>
                  <input type="text" class="form-control" placeholder="/per night">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="btn" style="align-items: center; vertical-align: middle; margin-top: 2%; width: 100%; height: max-content; padding-top: 10%;">
                  <mat-icon style="font-size: 35px; margin-left: -7%;">add_a_photo</mat-icon>
                  <h2>Add related photo</h2>

                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="btn" style="align-items: center; vertical-align: middle; margin-top: 2%; width: 100%; height: max-content; padding-top: 10%;">
                  <mat-icon style="font-size: 35px; margin-left: -7%;">add_a_photo</mat-icon>
                  <h2>Add related photo</h2>

                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="btn" style="align-items: center; vertical-align: middle; margin-top: 2%; width: 100%; height: max-content; padding-top: 10%;">
                  <mat-icon style="font-size: 35px; margin-left: -7%;">add_a_photo</mat-icon>
                  <h2>Add related photo</h2>

                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="btn" style="align-items: center; vertical-align: middle; margin-top: 2%; width: 100%; height: max-content; padding-top: 10%;">
                  <mat-icon style="font-size: 35px; margin-left: -7%;">add_a_photo</mat-icon>
                  <h2>Add related photo</h2>

                </div>
              </div>
            </div>
            <hr>

            <h2 id="title" style="margin-top: 13px; margin-bottom: 13px;">Add Features</h2>
            <div class="row">
              <div class="col-md-3">
                <div class="card-body" >
                  dsffsdf

                 </div>

            </div></div>


          </div>
        </div>
  </div>

</div>
