.card {
  --bs-card-bg: transparent ;
  --bs-card-border-color:  transparent ;
  --bs-border-radius: 18px;

  min-width: 180px;
  color : #948EA2 ;
  margin-bottom: 20px;
  position: relative;
  border: 0;
  vertical-align: middle;
}


.card .h2 {
  color: #fff;
  font-size: 16px;
  max-width: 100px;

}

.card-body {
  line-height: 1.5;
  font-size: 14px;
  box-sizing: border-box;
  flex: 1 1 auto;
  padding: 0px 15px 10px;
  min-height: 140px;

}
#title
{
  color: #18E68E;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2px;
}


.card-footer {
  padding: 0.75rem 1.25rem;
  text-align: center;
  box-sizing: border-box;
  display: block;
  margin-right: 15px;
  margin-left: 15px;
}
.form-control {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #E1E0E3;
  line-height: normal;
  font-size: 14px;
  transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
  box-shadow: none;
  margin-bottom: 15px;
  text-transform: capitalize;

}
label {
  text-transform: Uppercase   ;
  color: #948EA2;
  margin-bottom: 6px;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 370;
  font-size: 16px;
}

.smallavatar
{

    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;

}


option {
  margin-bottom: 10px;
  margin-top: 10px;
  outline: 0;
  background-color: #1E1F25;
  color: #E1E0E3;
  border: 1px solid crimson;
  padding: 4px;
  border-radius: 9px;

}

#submitbut {
  margin-left: 37%;
  position: relative ;
  display: flex;
  height: 40px;
  width: 220px ;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: #27293d;
  border: 1px solid #3C4254;
  border-radius: 10px;
  color: #27293d  ;
  background: #18E68E;
  margin-top: 24px;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

}
