#flog {
  border-color: #18E68E;
  background: transparent;
  color: #ADA8B8;
  border-radius: 0.5rem;
  font-size: .7500000025rem;
  }
  .btn {
    background: #18E68E;
    border-radius: 0.5rem;
    color: #484451;
    border-color: #18E68E;
    width: 360px;
    transition: border-color .3s ease-in-out,border-color .3s ease-in-out,border-color .3s ease-in-out;



  }
.pp
{
  margin-bottom: 2vh ;
}

.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
