.btnn {
  display: inline-flex;
  justify-content: center;
  position: relative;
  width: 92px;
  height: 21px;
  background: #282C38;
  color: #757B8C;
  font-size: 12px;
  border: 0.5px solid #3C4254;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  text-decoration: none;
  right: 6px;
  }
.container {
  margin-top: 3vh; margin-left: 1vh;
  cursor: pointer;
}

.container :active {
  border: 2px solid #18E68E;
  border-radius: 10px;





}

.container .content {
  position: absolute; /* Position the background text */
  top: 16vh;  color: #f1f1f1; /* Grey text */
  width: 295px;
  height: 154px;
  padding: 20px; /* Some padding */


}
.optionInput {
  font-size: 16px;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 700;
}

.description {

position: relative;
width: 264px;
height: 36px;
margin-top: 7px;


font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #FFFFFF;
}
.money {
margin-top: 30px;
height: 29px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;

opacity: 0.96;
}


.savechanges {
  margin-left: 37%;
  margin-top: 24px;
  margin-bottom: 15px;
  position: relative ;
  display: flex;
  height: 40px;
  width: 220px ;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: #27293d;
  border: 1px solid #3C4254;
  border-radius: 10px;
  color: #27293d  ;
  background: #18E68E;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;



}

.visacontainer {
  margin-top: 3vh;
  margin-left: 4vh;
}

.visacontainer .content {
  position: absolute; /* Position the background text */
  top: 19vh;  color: #f1f1f1; /* Grey text */
  width: 295px;
  height: 154px;
  padding: 20px; /* Some padding */


}

.visanumber {

  position: relative;
  width: 264px;
  height: 36px;
  margin-top: 4vh;
  margin-left: 3vh;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  color: #FFFFFF;
  }

  .date {
    margin-top: 10px;
    margin-left: 10px;
    height: 29px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    color: #FFFFFF;

    opacity: 0.96;
    }
