.main-content{
  background-image: url("/assets/bg1.jpg")  ;
  background-size:cover;

}
.cont {
  background-image : url("/assets/bg2.png") ;
  background-size:cover;
  min-height: 100vh;
  padding: 20px;
  padding-left: 10vh;
}
.nav-item {
  margin-right: 20px;
}
