<div class=" col-md-12">
  <div class=" card card-plain">
    <div class=" card-header">
      <h4 class=" card-title">Table des réservations</h4>
    </div>
    <div class=" card-body">
      <div class=" table-responsive">
        <table class=" table tablesorter" id="tt">
          <thead class=" text-primary">
            <tr>
              <th> </th>
              <th>Name</th>
              <th>Date</th>
              <th>Number of rooms</th>
              <th>Status</th>
              <th class="text-center">Contact Client</th>
              <th class=" text-center">Tarif Total</th>
              <th>pdf</th>



            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="smallavatar">
                <img src="assets/profil.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
              </td>
              <td>Dakota Rice
                <p style="color: #757B8C ; margin-bottom: 0px;">id : 87986473826874</p>

              </td>
              <td>19 Sep - 21 Sep </td>
              <td>1 Room - 2 Adults</td>
              <td >In progress</td>
              <td>
                 <a href="/admin/messages" style="color: #18E68E;"> <mat-icon  >mail_outline</mat-icon> </a>

              </td>

              <td class=" text-center">$36,738</td>
              <td>
                <a href="/admin/messages" style="color: #18E68E;"> <mat-icon  >picture_as_pdf</mat-icon> </a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="smallavatar">
                <img src="assets/profil.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
              </td>
              <td>Minerva Hooper
                <p style="color: #757B8C ; margin-bottom: 0px;">id : 87986473826874</p>
              </td>
              <td>19 Sep - 21 Sep </td>
              <td>1 Room - 2 Adults</td>
              <td >In progress</td>
              <td>
                  <a href="/admin/messages" style="color: #18E68E;"> <mat-icon  >mail_outline</mat-icon> </a>
              </td>

              <td class=" text-center">$23,789</td>
              <td>
                <a href="/admin/messages" style="color: #18E68E;"> <mat-icon  >picture_as_pdf</mat-icon> </a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="smallavatar">
                <img src="assets/profil.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
              </td>
              <td>Sage Rodriguez
                <p style="color: #757B8C ; margin-bottom: 0px;">id : 87986473826874</p>

              </td>
              <td>19 Sep - 21 Sep </td>
              <td>1 Room - 2 Adults</td>
              <td >In progress</td>
              <td>
                  <a href="/admin/messages" style="color: #18E68E;"> <mat-icon  >mail_outline</mat-icon> </a>
              </td>

              <td class=" text-center">$56,142</td>
              <td>
                <a href="/admin/messages" style="color: #18E68E;"> <mat-icon  >picture_as_pdf</mat-icon> </a>
              </td>
            </tr>

            <tr>
              <td>
                <div class="smallavatar">
                <img src="assets/profil.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
              </td>
              <td>Philip Chaney
                <p style="color: #757B8C ; margin-bottom: 0px;">id : 87986473826874</p>

              </td>
              <td>19 Sep - 21 Sep </td>
              <td>1 Room - 2 Adults</td>
              <td >In progress</td>
              <td>
                  <a href="/admin/messages" style="color: #18E68E;"> <mat-icon  >mail_outline</mat-icon> </a>
              </td>

              <td class=" text-center">$38,735</td>
              <td>
                <a href="/admin/messages" style="color: #18E68E;"> <mat-icon  >picture_as_pdf</mat-icon> </a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="smallavatar">
                <img src="assets/profil.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
              </td>
              <td>Doris Greene
                <p style="color: #757B8C ; margin-bottom: 0px;">id : 87986473826874</p>

              </td>
              <td>19 Sep - 21 Sep</td>
              <td>1 Room - 2 Adults</td>
              <td >In progress</td>
              <td>
                  <a href="/admin/messages" style="color: #18E68E;"> <mat-icon  >mail_outline</mat-icon> </a>
              </td>

              <td class=" text-center">$63,542</td>
              <td>
                <a href="/admin/messages" style="color: #18E68E;"> <mat-icon  >picture_as_pdf</mat-icon> </a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="smallavatar">
                <img src="assets/profil.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
              </td>
              <td>Mason Porter
               <p style="color: #757B8C ; margin-bottom: 0px;">id : 87986473826874</p>

              </td>
              <td>19 Sep - 21 Sep </td>
              <td>1 Room - 2 Adults</td>
              <td >In progress</td>
              <td>
                  <a href="/admin/messages" style="color: #18E68E;"> <mat-icon  >mail_outline</mat-icon> </a>
              </td>

              <td class=" text-center">$78,615</td>
              <td>
                <a href="/admin/messages" style="color: #18E68E;"> <mat-icon  >picture_as_pdf</mat-icon> </a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="smallavatar">
                <img src="assets/profil.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
              </td>
              <td>Jon Porter
                <p style="color: #757B8C ; margin-bottom: 0px;">id : 87986473826874</p>
              </td>
              <td>19 Sep - 21 Sep</td>
              <td>1 Room - 2 Adults</td>
              <td >In progress</td>
              <td>
                  <a href="/admin/messages" style="color: #18E68E;"> <mat-icon  >mail_outline</mat-icon> </a>
              </td>

              <td class=" text-center">$98,615</td>
              <td>
                <a href="/admin/messages" style="color: #18E68E;"> <mat-icon  >picture_as_pdf</mat-icon> </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

