<div class="row">
  <div class="col-md-10" style="margin-right: 20vh;">
    <div style="position: absolute; height: 50px; left: 25vh; top: 15vh ;">
      <div>
      <h1 style="color: #18E68E;
      font-family: 'Inter';
      font-weight: 800;
      font-size: 30Px;
      line-height: 67px;">About Us </h1>
      </div>

      <h2 style="margin-top: 4vh;color: #18E68E; ">    Odas IT</h2>
      <p style="color: #ADA8B8; margin-right: 30vh;">La solution mobile dédié à la remontée d’information
                                  du client au professionnels des différents métiers de service soit
                                  les boutiques, les restaurants, cafés, bars, boites de nuit, brasserie, hôtels…<br>
                                  A Privacy Policy is a statement or a legal document that states how a company or website collects, handles and processes data of its customers and visitors. It explicitly describes whether that information is kept confidential, or is shared with or sold to third parties.
                                  For example, an excerpt from Pinterest's Privacy Policy agreement clearly describes the information Pinterest collects from its users as well as from any other source that users enable Pinterest to gather information from. The information that the user voluntarily gives includes names, photos, pins, likes, email address, and/or phone number etc., all of which is regarded as personal information.
                                  A Privacy Policy is a statement or a legal document that states how a company or website collects, handles and processes data of its customers and visitors. It explicitly describes whether that information is kept confidential, or is shared with or sold to third parties.
                                  For example, an excerpt from Pinterest's Privacy Policy agreement clearly describes the information Pinterest collects from its users as well as from any other source that users enable Pinterest to gather information from. The information that the user voluntarily gives includes names, photos, pins, likes, email address, and/or phone number etc., all of which is regarded as personal information.</p>
      <h2 style="margin-top: 4vh;color: #18E68E; ">    Claim</h2  >
      <p style="color: #ADA8B8; ">La solution mobile dédié à la remontée d’information
                                  du client au professionnels des différents métiers de service soit
                                  les boutiques, les restaurants, cafés,<br> bars, boites de nuit, brasserie, hôtels…</p>




  </div>

</div>
