<div class="row">
  <div class="col-lg-3">
    <div class="row" style="margin-left: 1px; height: max-content;">
      <div class="frstrow">
        <select class="slt">
          <option class="opt" value="0">Primary</option>
          <option class="opt" value="1">Secondary</option>
          <option class="opt" value="2">Drafts</option>
        </select>
        <mat-icon class="refresh">refresh</mat-icon>
        <div class="plus">
          <mat-icon>add</mat-icon>
        </div>
      </div>
      <div class="msglist">
        <ul id="usermsg" class="list-unstyled">
          <li class="limsg active" (click)="active($event)">
            <a>
              <div class="d-flex">
                <div class="smallavatar">
                  <img src="assets/profil.png" alt="Circle Image" class="img-circle img-no-padding img-responsive" />
                </div>
                <div class="flex1 overflow-hidden">
                  <p id="username" class="text-truncate">name user</p>
                  <p id="chatuserobj" class="text-truncate mb-0">
                    object : message adzdzadazdad
                  </p>
                  <p id="chatusermsg" class="text-truncate mb-0">
                    mesasg edzadazdzdazdzadzatd- adzdazd
                  </p>
                </div>
                <div class="font-size-11">17:33</div>
              </div>
            </a>
          </li>

          <hr style="width: 100%">


          <li class="limsg" (click)="active($event)">
            <a>
              <div class="d-flex">
                <div class="smallavatar">
                  <img src="assets/profil.png" alt="Circle Image" class="img-circle img-no-padding img-responsive" />
                </div>
                <div class="flex1 overflow-hidden">
                  <p id="username" class="text-truncate">name user</p>
                  <p id="chatuserobj" class="text-truncate mb-0">
                    object : message
                  </p>
                  <p id="chatusermsg" class="text-truncate mb-0">
                    mesasg edzadazdzdazdzadzatd- adzdazd
                  </p>
                </div>
                <div class="font-size-11">17:33</div>
              </div>
            </a>
          </li>
          <hr style="width: 100%">
          <li class="limsg" (click)="active($event)">
            <a>
              <div class="d-flex">
                <div class="smallavatar">
                  <img src="assets/profil.png" alt="Circle Image" class="img-circle img-no-padding img-responsive" />
                </div>
                <div class="flex1 overflow-hidden">
                  <p id="username" class="text-truncate">name user</p>
                  <p id="chatuserobj" class="text-truncate mb-0">
                    object : message
                  </p>
                  <p id="chatusermsg" class="text-truncate mb-0">
                    mesasg edzadazdzdazdzadzatd- adzdazd
                  </p>
                </div>
                <div class="font-size-11">17:33</div>
              </div>
            </a>
          </li>
          <hr style="width: 100%">
          <li class="limsg" (click)="active($event)">
            <a>
              <div class="d-flex">
                <div class="smallavatar">
                  <img src="assets/profil.png" alt="Circle Image" class="img-circle img-no-padding img-responsive" />
                </div>
                <div class="flex1 overflow-hidden">
                  <p id="username" class="text-truncate">name user</p>
                  <p id="chatuserobj" class="text-truncate mb-0">
                    object : message
                  </p>
                  <p id="chatusermsg" class="text-truncate mb-0">
                    mesasg edzadazdzdazdzadzatd- adzdazd
                  </p>
                </div>
                <div class="font-size-11">17:33</div>
              </div>
            </a>
          </li>
          <hr style="width: 100%">
          <li class="limsg" (click)="active($event)">
            <a>
              <div class="d-flex">
                <div class="smallavatar">
                  <img src="assets/profil.png" alt="Circle Image" class="img-circle img-no-padding img-responsive" />
                </div>
                <div class="flex1 overflow-hidden">
                  <p id="username" class="text-truncate">name user</p>
                  <p id="chatuserobj" class="text-truncate mb-0">
                    object : message
                  </p>
                  <p id="chatusermsg" class="text-truncate mb-0">
                    mesasg edzadazdzdazdzadzatd- adzdazd
                  </p>
                </div>
                <div class="font-size-11">17:33</div>
              </div>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="row">

      <div class="col-lg-8"
        style="padding: 8px 0px 0px 8px ;background: #1E1F25; border-radius: 20px 0px 0px 20px; height: 60px; display: inline-flex;">

        <div class="smallavatar">
          <img src="assets/profil.png" alt="Circle Image" class="img-circle img-no-padding img-responsive" />
        </div>
        <div>
          <p id="name" class="text-truncate" style=" margin-bottom: 0px; color: #E1E0E3;">name user</p>
          <p id="mail  " class="text-truncate mb-0" style="color: #757B8C;">
            medazdzadazd.gmail.com
          </p>
        </div>
      </div>

      <div class="col-lg-3"
        style=" padding-top: 18px; background: #1E1F25; border-radius: 0px 20px 20px 0px;  height: 60px; display: inline-flex; width: 27%;">
        <mat-icon>delete_outline</mat-icon>
        <mat-icon>bookmark_border</mat-icon>
        <mat-icon>more_horiz</mat-icon>



      </div>



      <div class="col-lg-12" style=" width: 95%; height: max-content; margin-top: 20px;">
        <h2 style="color: #E1E0E3; line-height: 25px; "> azdjknfbjzhefbhjeb,fnb bzhebj azdazdzadzazd dehazezad </h2>
        <p class="fullmail">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa, sunt nam. Animi,
          consectetur
          ratione magni laborum, culpa quam fugit impedit quod repudiandae et mollitia libero a eius nihil incidunt
          dignissimos? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste repudiandae commodi praesentium ea
          natus
          beatae eveniet unde consequatur corporis cumque officia error provident quasi, animi sapiente! Aliquam velit
          voluptas accusantium!</p>

        <div class="file ">
          <mat-icon
            style="padding-top: 3px; border-radius: 5px; width: 22px; height: 30px; text-align: center; background-color: #0b2761; color: #246CF9;">
            insert_drive_file</mat-icon>
          <p id="chatuserobj" class="text-truncate" style="margin-top: 5px; margin-left: 5px;">Filename.pdf</p>
          <p id="chatusermsg" class="text-truncate" style="margin-top: 5px; ">
            size.M
          </p>
        </div>
        <div class="file ">
          <mat-icon
            style="padding-top: 3px; border-radius: 5px; width: 22px; height: 30px; text-align: center; background-color: #0b2761; color: #246CF9;">
            insert_drive_file</mat-icon>
          <p id="chatuserobj" class="text-truncate" style="margin-top: 5px; margin-left: 5px;">Filename.pdf</p>
          <p id="chatusermsg" class="text-truncate" style="margin-top: 5px; ">
            size.M
          </p>
        </div>
      </div>


      <div class="col-lg-12"
        style=" width: 95%; height: max-content; background: #1E1F25; border-radius: 20px; margin-top: 20px;">

        <div class="col-lg-9"
          style="padding: 8px 0px 0px 8px ;background: #1E1F25; border-radius: 20px 0px 0px 20px; height: 60px; display: inline-flex; align-content: center;">

          <mat-icon
            style="width: 18.46px; height: 16.62px; color: #18E68E; margin-right: 15px; margin-top: 10px; cursor: pointer;">
            subdirectory_arrow_left</mat-icon>
          <div>
            <p id="name" class="text-truncate" style=" margin-bottom: 0px; color: #E1E0E3;">name user</p>
            <p id="mail  " class="text-truncate mb-0" style="color: #757B8C;">
              medazdzadazd.gmail.com
            </p>
          </div>
        </div>

        <div class="message-icons"
          style="color: #757B8C; padding-top: 18px; background: #1E1F25; border-radius: 0px 20px 20px 0px;  height: max-content; display: inline-block;padding-left: 35px; width: max-content;">
          <mat-icon>delete_outline</mat-icon>
          <mat-icon>more_horiz</mat-icon>
        </div>
        <hr          style="width: 100%; position: relative ; text-align: start; margin-top: 0px; margin-bottom: 5px   ; color: #757B8C;">
        <textarea name="" id="messagearea" cols="50" rows="7"></textarea>
        <hr          style="width: 100%; position: relative ; text-align: start; margin-top: 4px; margin-bottom: 5px   ; color: #757B8C;">

          <div class="sendbutton">
          Send Message
        </div>

        <div class="message-icons">
          <mat-icon>description</mat-icon>
          <mat-icon>attach_file</mat-icon>
          <mat-icon>sentiment_satisfied</mat-icon>
          <!-- emoji picker -->
          <mat-icon>mic</mat-icon>
        </div>


      </div>
    </div>

  </div>






<div class="col-lg-3  pl-1" style="right: 0px;">
  <div class="row">
    <div class="col-lg-12">
      <span>
        <h2 style="color: #E1E0E3 ; text-align: start; display: inline;">Media</h2>
      </span>
      <a class="btnn btn-sm btn-primary" style="text-decoration-line:none ; text-align: end;">See all</a>

      <div class="imagess">

        <img class="images" src="assets/messenger.jpg" alt="Messanger Image">
        <img class="images" src="assets/messenger.jpg" alt="Messanger Image">
        <img class="images" src="assets/messenger.jpg" alt="Messanger Image">
        <img class="images" src="assets/messenger.jpg" alt="Messanger Image">
        <img class="images" src="assets/messenger.jpg" alt="Messanger Image">
        <img class="images" src="assets/messenger.jpg" alt="Messanger Image">

      </div>
      <hr style="width: 90%; position: relative ; text-align: start; margin-top: 30px;">

      <span>
        <h2 style=" color: #E1E0E3 ; display: inline;">Files</h2>
      </span>
      <a class="btnn btn-sm btn-primary text-right" style="text-decoration-line:none ;">See all</a>

      <div class="col" style="width: 90%;">

        <div class="file ">
          <mat-icon
            style="padding-top: 3px; border-radius: 5px; width: 22px; height: 30px; text-align: center; background-color: #0b2761; color: #246CF9;">
            insert_drive_file</mat-icon>
          <p id="chatuserobj" class="text-truncate" style="margin-top: 5px; margin-left: 5px;">Filename.pdf</p>
          <p id="chatusermsg" class="text-truncate" style="margin-top: 5px; ">
            size.M
          </p>

        </div>
        <div class="file ">
          <mat-icon
            style="padding-top: 3px; border-radius: 5px; width: 22px; height: 30px; text-align: center; background-color: #0b2761; color: #246CF9;">
            insert_drive_file</mat-icon>
          <p id="chatuserobj" class="text-truncate" style="margin-top: 5px; margin-left: 5px;">Filename.pdf</p>
          <p id="chatusermsg" class="text-truncate" style="margin-top: 5px; ">
            size.M
          </p>

        </div>
        <div class="file ">
          <mat-icon
            style="padding-top: 3px; border-radius: 5px; width: 22px; height: 30px; text-align: center; background-color: #0b2761; color: #246CF9;">
            insert_drive_file</mat-icon>
          <p id="chatuserobj" class="text-truncate" style="margin-top: 5px; margin-left: 5px;">Filename.pdf</p>
          <p id="chatusermsg" class="text-truncate" style="margin-top: 5px; ">
            size.M
          </p>

        </div>





      </div>







    </div>
  </div>

</div>

</div>
