<img src="assets/phone1.png" style="width: 30%; margin-left: 20vh;" />
<div style="position: absolute; height: 50px; left: auto; right: 25vh; top: 25vh ;">
<div>
  <h1 style="color: #18E68E;
text-align: center;
font-family: 'Inter';
font-weight: 800;
font-size: 55Px;
text-shadow: #18E68E 5px 0px 24px;
line-height: 67px;">Grow up <br>
Your service</h1>
</div>

<h4 style="margin-top: 6vh;color: #18E68E; text-align: center;">    Claim</h4>
<p style="color: #ADA8B8; text-align: center; font-size: 15px;">La solution mobile dédié à la remontée d’information  <br>
                            du client au professionnels des différents métiers <br>de service soit
                            les boutiques, les restaurants, cafés,<br> bars, boites de nuit, brasserie, hôtels…</p>
